{% load wagtailcore_tags wagtailimages_tags %}

{% image value.image width-1200 as coverimage %}


<div id="cover-image">
    <img class="img-fluid" src="{{ coverimage.url }}" alt="{{ value.alternate_text }}"/>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div id="cover-text" class="text-center">
                <h1 class="text-center">everlynorth</h1>
                <{{ value.heading.heading_choice }} class="{{ value.heading.heading_alignment }}">{{ value.heading.heading_text }}</{{ value.heading.heading_choice }}>
                {{ value.paragraph }}
            </div>
        </div>
    </div>
</div>